<h1>Seja Bem-Vindo!</h1>
<p>
    Mateus Santos    
</p>
<p>Data: <%= data_br(Date.today)%></p> 

 <%= render "menu"%>
    <p>
        Você está em ambiente de <strong><%= ambiente_rails %></strong>
    </p>
    
    <p>
        Eu sou uma variavel de instância <strong><%=@meu_nome%></strong>
    </p>